<!-- Buttom Nav -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <h2 class="display fs-6 navbar-text">&copy; Roman Bakalets. COMP229</h2>
    </div>
  </nav>
</footer>
