<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!--Section 2: About me-->

<!-- <div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>
    Resize the browser window to see that this page is responsive by the way.
  </p>
</div> -->

<!-- <div class="about-page">
  <div class="header">
    <h1 class="about-text fs-1 fw-bold mb-5 text-center">About Me Page</h1>
  </div> -->
<!-- end header-->
<!-- <div class="image">
    <img class="rounded float-left" src="Assets/images/main.jpg"  width="400px" height="500px" />
    <h2 class="text-end">Introduction</h2>
    <p class="rounded float-right">
      I am a 28 year old finnish web developer with science and art background.
      I love to spend my free time renovating my home, playing and going on long
      walks with my dog. I love scifi and fantasy literature and series.
    </p> -->

<div class="about-page">
  <h1 class="about-text fs-1 fw-bold mb-5 text-center">About Me Page</h1>
  <img
    class="picture mb-5"
    align="right"
    src="Assets/images/main.jpg"
    width="350px"
    height="450px"
  />

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h3 class="text-center fw-bold mb-3">
          <i class="fa-solid fa-hand-peace"></i> Hello!!!
        </h3>
        <p class="about-text lh-lg">
          Hi guys! My name is Roman Bakalets and I am from Ukraine. I have been
          living in Canada for 1 year and 7 months. I graduated from the ELL
          program in April of this year, and in May I enrolled in the Software
          Engineer Technician program. I studied computer science for 6 years
          before coming to Canada. I like to spend time working with my laptop.
          In the future I want to try myself as a programmer. Also in my free
          time I like to play football and communicate with my friends.
        </p>
        <div class="button-about text-center">
          <button
            class="btn btn-outline-primary p-3 mt-5 ms-4"
            type="button"
            onclick="location.href='/Assets/docs/resume.pdf'"
          >
            <strong>My Resume</strong>
          </button>
        </div>
      </div>
    </div>
  </div>

  <%- include partials/buttom_nav.ejs %> <%- include partials/footer.ejs %>
</div>
