<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<section id="contact-me">
  <div class="contact-info">
    <h1 class="contact-title">
      <i class="fa-solid fa-book"></i> My Contact-Info:
    </h1>
    <h2 class="email:">
      <i class="fa-solid fa-envelope-circle-check mb-1"></i> My Email:
      romabakalets0406@gmail.com
    </h2>
  </div>
</section>

<!-- Wrapper container -->
<div class="container py-4">
  <!-- Bootstrap 5 starter form -->
  <form id="contactForm">
    <!-- Name input -->
    <div class="mb-3">
      <label class="form-label" for="name">Name</label>
      <input class="form-control" id="name" type="text" placeholder="Name" />
    </div>

    <!-- Email address input -->
    <div class="mb-3">
      <label class="form-label" for="emailAddress ">Email Address</label>
      <input
        class="form-control"
        id="emailAddress"
        type="email"
        placeholder="Email Address"
      />
    </div>

    <!-- Phone number -->
    <div class="mb-3">
      <label class="form-label" for="phoneNumber">Phone Number</label>
      <input
        class="form-control"
        id="phone-number"
        type="phone"
        placeholder="Phone Number"
      />
    </div>

    <!-- Message input -->
    <div class="mb-3">
      <label class="form-label" for="message">Message</label>
      <textarea
        class="form-control"
        id="message"
        type="text"
        placeholder="Message"
        style="height: 6rem"
      ></textarea>
    </div>

    <!-- Form submit button -->
    <div class="d-grid">
      <button class="btn btn-primary btn-lg" type="submit">Submit</button>
    </div>
  </form>
</div>
