<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- <h2 style="text-align: center">My Products Page</h2> -->
<section id="projects">
  <div class="jumbotron projects-text text-center">
    <h1 class="display-5 fw-bolder">My Products Page</h1>
  </div>
</section>
<div class="row">
  <div class="column">
    <div class="card">
      <img
        src="Assets/images/webstud.png"
        alt="Webstudio"
        width="700px"
        height="400px"
      />
      <div class="products-container">
        <h2>Webstudio Site</h2>
        <p class="title">Work with Html and Css</p>
        <p>
          My first website layout for a Web Studio. You can see the site using
          the link below
        </p>
        <p>
          <a
            class="btn btn-primary btn-lg"
            href="https://roma044.github.io/goit-markup-hw-08/ "
            role="button"
            >Watch Site</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="Assets/images/barber.png"
        alt="Barbershop"
        width="700px"
        height="400px"
      />
      <div class="products-container">
        <h2>Barbershop site</h2>
        <p class="title">Work with Html and Css</p>
        <p>
          My second website for barbershop is not finished. You can see the site
          using the link below.
        </p>
        <a
          class="btn btn-primary btn-lg"
          href="https://roma044.github.io/barbershop/"
          role="button"
          >Watch Site</a
        >
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="Assets/images/store.png"
        alt="Pet-store"
        width="700px"
        height="400px"
      />
      <div class="products-container">
        <h2>Pet-store</h2>
        <p class="title">Work with Figma</p>
        <p>
          My first title page of a site I made 5 years ago for a design
          interview.
        </p>
        <a
          class="btn btn-primary btn-lg"
          href="https://www.figma.com/file/osNNwWqgPmQQaiIgfEMfTj/Happy-pet?node-id=0%3A1"
          role="button"
          >Watch Maket</a
        >
      </div>
    </div>
  </div>
</div>

<%-include partials/buttom_nav.ejs %> <%- include partials/footer.ejs %>
