<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<section>
  <div class="services">
    <h1 class="display-4 fw-bold mb-4 text-center">Services Page</h1>
  </div>

  <div class="contain">
    <div class="social pb-3">
      <img src="Assets/images/service1.jpg" alt="" width="450" height="300" />
      <h3 class="text text-center">Html and CSS</h3>
      <p class="text text-center">
        With the help of html and css, I create various sites for customers. I
        have good skills and knowledge in developing the site
      </p>
    </div>
    <div class="social">
      <img src="Assets/images/service2.jpg" alt="" width="450" height="300" />
      <h3 class="text text-center">Web Design</h3>
      <p class="text text-center">
        With Adobe Photoshop and Figma programs, I create beautiful layouts for
        websites. Later I build a site on this layout.
      </p>
    </div>
    <div class="social">
      <img src="Assets/images/service3.jpg" alt="" width="450" height="300" />
      <h3 class="text text-center">Java Script</h3>
      <p class="text text-center">
        I do not have much experience with java script. I use it to build a site
        if I need to add good effects or transitions.
      </p>
    </div>
  </div>
</section>

<%- include partials/buttom_nav.ejs %> <%- include partials/footer.ejs %>
