<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<section id="services" class="services-mf pt-5 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">Services</h3>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <img
              src="Assets/images/service1.jpg"
              width="300px"
              height="200px"
              alt=""
            />
          </div>
          <div class="service-content">
            <h2 class="s-title">Web Design</h2>
            <!-- <p class="s-description text-center">
                        
                </p> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <img
              src="Assets/images/service2.jpg"
              width="300px"
              height="200px"
              alt=""
            />
          </div>
          </div>
          <div class="service-content">
            <h2 class="s-title">Web Development</h2>
            <!-- <p class="s-description text-center">

                </p> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <img
              src="Assets/images/service3.jpg"
              width="300px"
              height="200px"
              alt=""
            />
          </div>
          </div>
          <div class="service-content">
            <h2 class="s-title">Responsive Design</h2>
            <!--    <p class="s-description text-center">

                </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->

<%- include partials/buttom_nav.ejs %> <%- include partials/footer.ejs %>
