<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %> 

<div class="jumbotron container" id="home">
  <h1 class="display-3">My Awesome App!</h1>
  <p class="lead">This is why you should download this fantastic app!</p>
    <button type="button" class="btn btn-primary my-2 my-sm-0">Sign Up</button>
  </form>
</div>



<%-
include partials/buttom_nav.ejs %> <%- include partials/footer.ejs %>
