/* custom css goes here */
.container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

body {
  background-color: antiquewhite;
}

.row {
  background-color: antiquewhite;
}

.contact-info {
  margin-top: 40px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.about-section {
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.about-page {
  padding: 40px;
}

.card {
  justify-content: center;
  align-items: center;
}

.mb-3 {
  margin-left: 35%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.d-grid {
  margin-left: 35%;
}

.products-container {
  margin: 30px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-progress-title {
  text-align: start;
}

.contain {
  text-align: center;
  display: flex;
  justify-content: center;
}

.social {
  padding: 10px;
}

.text {
  margin-bottom: 10px;
  align-items: center;
}
