/* custom css goes here */
.container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

body {
  background-color: antiquewhite;
}

.row {
  background-color: antiquewhite;
}

.contact-info {
  margin-top: 40px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.about-section {
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.about-page {
  padding: 40px;
}

.card {
  justify-content: center;
  align-items: center;
}

.mb-3 {
  margin-left: 35%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.d-grid {
  margin-left: 35%;
}

.products-container {
  margin: 30px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-progress-title {
  text-align: start;
}

.contain {
  text-align: center;
  display: flex;
  justify-content: center;
}

.social {
  padding: 10px;
}

.text {
  margin-bottom: 10px;
  align-items: center;
}

/* Social links */
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Halvetica Neue", sans-serif, "Arial";
  font-size: 2.5rem;
  text-decoration: none;
  transition: all 0.15s ease;
  border: 6px solid rgba(230, 228, 228);
}

.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;

  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  z-index: 1;
}

/* color */
.social-icon--codepen {
  background: #000;
  color: #fff;
}
.social-icon--github {
  background: #4284c0;
  color: #fff;
}

.social-icon--youtube {
  background: #fa3217;
  color: white;
}
.social-icon--instagram {
  background: pink;
  color: white;
}
.social-icon--facebook {
  background: #3b5a9b;
  color: white;
}
/* Hover Effect*/
